{% extends 'base.html' %}
{% load static %}
{% load highlight %}

{% block nav %}
    <!--导航条-->
    <nav class="breadcrumb">
        <div class="container">
            <i class="Hui-iconfont">&#xe67f;</i><a href="/" class="c-primary">首页</a>
            >><span class="c-gray en">文章搜索</span>
        </div>
    </nav>
{% endblock %}

{% block other_css_js %}
<style>
    .highlight_me_please{
        color: #e41f14;
    }
</style>
{% endblock %}

{% block section_contain %}
    <section class="container">
        <!--left-->
        <div class="col-sm-9 col-md-9 mt-20">
            <div>
                <span>当前搜索: <span class="highlight_me_please">{{ query }}</span></span><span style="float: right;">搜索文章共: <span style="color: #196c75;">{{ paginator.count }}</span> 篇</span>
            </div>
            <!--article list-->
        {% if query %}
            <ul class="index_arc">
                {% for blog in page.object_list %}
                    <li class="index_arc_item {% if not blog.object.image %}no_pic{% endif %}">
                        {% if blog.object.image %}
                            <a href="{% url 'blog:blog_detail' blog.object.id %}" class="pic">
                                <img class="lazyload" data-original="{{ blog.object.image.url }}" alt="应该选"/>
                            </a>
                        {% endif %}
                        <h4 class="title"><a
                                href="{% url 'blog:blog_detail' blog.object.id %}">
                            {% highlight blog.object.title with query html_tag "div" css_class "highlight_me_please" %} </a>
                        </h4>
                        <div class="date_hits">
                            <span>{{ blog.object.author.username }}</span>
                            <span>{{ blog.object.pub_time }}</span>
                            <span><a>{{ blog.object.category.name }}</a></span>
                            <p class="hits"><i class="Hui-iconfont" title="浏览量">&#xe6c1;</i> {{ blog.object.views }} </p>
                            <p class="commonts"><i class="Hui-iconfont" title="评论数">&#xe622;</i> <span
                                    class="cy_cmt_count">20</span></p>
                        </div>
                        <div class="desc">
                            {% with blog.object.body_to_markdown|safe as this_body %}
                                {% highlight this_body with query html_tag "span" css_class "highlight_me_please" max_length 50 %}
                            {% endwith %}
                        </div>
                    </li>
                    {% empty %}
                    <li>没有找到相关文章</li>
                {% endfor %}

            </ul>
            {% comment %}<div class="text-c mb-20" id="moreBlog">
                {% if page.has_previous or page.has_next %}
                    {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}«
                Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »
                {% if page.has_next %}</a>{% endif %}
                {% endif %}

            </div>{% endcomment %}
            <div class="text-c mb-20" id="moreBlog">
                <ul id="pagination"></ul>
            </div>

            </div>

        {% endif %}
        </div>

        <!--right-->
   {% comment %}     <div class="col-sm-3 col-md-3 mt-20">

            <!--导航-->
            <div class="panel panel-primary mb-20">
                <div class="panel-body">
                    <input class="btn btn-primary radius nav-btn" type="button" value="杂谈">
                    <input class="btn btn-primary-outline radius nav-btn" type="button" value="java">
                    <input class="btn btn-primary-outline radius nav-btn" type="button" value="框架">
                    <input class="btn btn-primary-outline radius nav-btn" type="button" value="服务域名">
                </div>
            </div>

            <!--热门推荐-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>热门推荐</strong></a>
                </div>
                <div class="tab-category-item">
                    <ul class="index_recd">
                        <li>
                            <a href="#">阻止a标签href默认跳转事件</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">PHP面试题汇总</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">阻止a标签href默认跳转事件</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">阻止a标签href默认跳转事件</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">PHP面试题汇总</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                    </ul>
                </div>
            </div>

            <!--标签-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>标签云</strong></a>
                </div>
                <div class="tab-category-item">
                    <div class="tags"><a href="http://www.h-ui.net/">H-ui前端框架</a> <a
                            href="http://www.h-ui.net/websafecolors.shtml">Web安全色</a> <a
                            href="http://www.h-ui.net/Hui-4.4-Unslider.shtml">jQuery轮播插件</a> <a
                            href="http://idc.likejianzhan.com/vhost/korea_hosting.php">韩国云虚拟主机</a> <a
                            href="http://www.h-ui.net/bug.shtml">IEbug</a> <a href="http://www.h-ui.net/site.shtml">IT网址导航</a>
                        <a href="http://www.h-ui.net/icon/index.shtml">网站常用小图标</a> <a
                                href="http://www.h-ui.net/tools/jsformat.shtml">web工具箱</a> <a
                                href="http://www.h-ui.net/bg/index.shtml">网站常用背景素材</a> <a
                                href="http://www.h-ui.net/yuedu/chm.shtml">H-ui阅读</a> <a
                                href="http://www.h-ui.net/easydialog-v2.0/index.html">弹出层插件</a> <a
                                href="http://www.h-ui.net/SuperSlide2.1/demo.html">SuperSlide插件</a> <a
                                href="http://www.h-ui.net/TouchSlide1.1/demo.html">TouchSlide</a></div>
                </div>
            </div>
        </div>{% endcomment %}

    </section>
{% endblock %}

{% block bottom_js %}
    <script>
        var query_parme = "{{ query }}";
        var get_page_number_url = "http://127.0.0.1:8080/search/?q=" + query_parme;
        var totalPage = "{{ paginator.num_pages }}" || 1;

        var currentPage = parseInt(window.location.search.replace(/\?q=.*?&page=/g, "")) || 1;
        $(function () {
            //标签
            $(".tags a").each(function () {
                var x = 9;
                var y = 0;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                $(this).addClass("tags" + rand)
            });

            $("img.lazyload").lazyload({failurelimit: 3});

            {#var currentPage = 1;#}
            var totalPages = parseInt(totalPage);
            var options = {
                bootstrapMajorVersion: 3,
                currentPage: currentPage,
                totalPages: totalPages,
                {#numberofPages: 5,#}
                itemTexts: function (type, page, current) { //修改显示文字
                    switch (type) {
                        case "first":
                            return "第一页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "最后一页";
                        case "page":
                            return page;
                    }
                },
                onPageClicked: function (event, originalEvent, type, page) { //异步换页
                    window.location.href = get_page_number_url + "&page=" + page
                }
            };
            $("#pagination").bootstrapPaginator(options);
        });

    </script>
{% endblock %}