<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="个人博客,累兰羽博客,blog,python">
  <meta name="description" content="累兰羽博客，是一个热爱互联网技术的个人博客，定期分享自己的原创技术文章、生活趣事、生活感悟等，希望能帮助到同样喜欢技术的同学">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="xONOKFPwA8rilQtUk9LyPcOECpt9VAxdEgfs0C2V">

  <link rel="shortcut icon" href="{% static 'favicon.png' %}">

  <title>兰羽</title>

  <link rel="stylesheet" href="{% static 'muban/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'muban2/css/home.css' %}">

  {% block other_css %}
  {% endblock %}
  <!-- Scripts -->
  <script>
    window.Language = 'zh_cn';

    window.Laravel = {"csrfToken": "xONOKFPwA8rilQtUk9LyPcOECpt9VAxdEgfs0C2V"}    </script>

</head>
<body>
<div id="app">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">

        <!-- Collapsed Hamburger -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Branding Image -->
        <a class="navbar-brand" href="{% url 'home' %}">
          兰羽
        </a>
      </div>

      <div class="collapse navbar-collapse" id="app-navbar-collapse">
        <!-- Left Side Of Navbar -->
        <ul class="nav navbar-nav">
          <li><a href="{% url 'blog:blog_list' %}">文章</a></li>
          <li><a href="#">资源下载</a></li>
          <li><a href="#">社区</a></li>
        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="nav navbar-nav navbar-right">
          <!-- Search Box -->
          <li>
            <form class="navbar-form navbar-right search" role="search" method="get" action="#">
              <input type="text" class="form-control" name="q" placeholder="搜索" required>
            </form>
          </li>

          <!-- Authentication Links -->
          <li><a href="login.html">登录</a></li>
          <li><a href="register.html">注册</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block main %}
  {% endblock %}
  <footer id="footer" class="footer">
    <div class="copy-right text-center">
      <a>Copyright&copy; 2019 累兰羽个人博客</a>
    </div>
  </footer>
</div>


<script src="{% static 'muban/js/jquery.min.js' %}"></script>
<script src="{% static 'js/utils/marked.js' %}"></script>
<script>
  var rendererMD = new marked.Renderer();
  marked.setOptions({
    renderer: rendererMD,
    gfm: true,
    tables: true,
    breaks: false,
    pedantic: false,
    sanitize: false,
    smartLists: true,
    smartypants: false
  });
</script>
{% block other_js %}
{% endblock %}
</body>
</html>
