{% extends 'base.html' %}
{% load static %}
{#{% load markdown_deux_tags %}#}

{% block other_css_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugin/wangEditor/css/wangEditor.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style/code.css' %}">

    <style>
    .toc li{
        margin:10px 0;
        font-size: 19px;;
    }
    .infos {
        text-indent: 0!important;
    }

    .infos .sd {
         float: none!important;
    }

    .infos .err {
        border: none!important;
    }

    @media screen and (min-width: 900px) {
        .left-itme {
            width: 23%;
        }
    }

    @media screen and (min-width: 1000px) {
        .left-itme {
            width: 20%;
        }
    }

    @media screen and (min-width: 1200px) {
        .left-itme {
            width: 20%;
        }
    }
    @media screen and (min-width: 1400px) {
        .left-itme {
            width: 15%;
        }
    }


    .left-itme {
        position: fixed;
        top: 104px;
    }

    </style>
{% endblock %}

{% block nav %}
    <!--导航条-->
    <nav class="breadcrumb">
        <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="{% url "index" %}" class="c-primary">首页</a> <span
                class="c-gray en">&gt;</span> <span class="c-gray">{{ blog.category.name }}</span> <span class="c-gray en">&gt;</span> <span
                class="c-gray">{{ blog.title }}</span></div>
    </nav>
{% endblock %}


{% block section_contain %}
<section class="container">

    <div class="row w_main_row">
        <div class="col-lg-3 col-md-3">
            <div class="left-itme">
                 {{ toc|safe }}
            </div>

            <!--热门推荐-->
{#            <div id="left-itme">#}
{#                <div class="">#}
{#                    <a href=""><strong>文章目录</strong></a>#}
{#                </div>#}
{#                <div class="tab-category-item">#}
{#                </div>#}
{#            </div>#}

        </div>
        <div class="col-lg-9 col-md-9 w_main_left">
            <div class="panel panel-default  mb-20">
                <div class="panel-body pt-10 pb-10">
                    <h2 class="c_titile">{{ blog.title }}</h2>
                    <p class="box_c"><span class="d_time">发布时间：{{ blog.pub_time|date:'Y-m-d' }}</span><span>编辑：<a href="mailto:1033432955@qq.com">{{ blog.author }}</a></span><span>阅读（{{ blog.views }}）</span>
                    </p>
                    <ul class="infos" style="display: none;">
                       {{ blog.body|safe }}

                    </ul>
                    <!-- 上一篇 下一篇-->
                    <div class="nextinfo">
                        <p class="last"></p>
                        <p class="next"></p>
                    </div>

                </div>
            </div>

            <div class="panel panel-default  mb-20">
                <div class="tab-category">
                    <a href=""><strong>评论区</strong></a>
                </div>
                <div class="panel-body">
                    <div class="panel-body" style="margin: 0 3%;">
                        {% include 'comment_sub.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}


{% block bottom_js %}
<script type="text/javascript" src="{% static 'plugin/wangEditor/js/wangEditor.min.js' %}"></script>
<script type="text/javascript">
    var get_page_up_down_url = "{% url 'blog:api:blog-page-up-down' blog.id %}";
    var blog_detail_url = "{% url 'blog:blog_detail' 0 %}";
    $(function () {
        $(".infos .toc").hide();
        $(".infos").show();

        get_page_up_down();

        window.scrollBy(0, -90);
    });

    $(".toc a").click(function () {
        var click_href = $(this).attr('href');
        if (click_href.indexOf('#') >= 0) {
            $('html,body').animate({
                        scrollTop: ($(click_href).offset().top - 100) + "px"
                    },
                    300);
        }
    })

    function get_page_up_down() {
        $.get(get_page_up_down_url, {}, function (data) {
            var last_blog_title = data['last_blog']['title'];
            var next_blog_title = data['next_blog']['title'];
            if (data['last_blog']['id'] == null){
                var last_url = ''
            }else {
                var last_url = blog_detail_url.replace(0, data['last_blog']['id']);
            }
            if (data['next_blog']['id'] == null){
                var next_url = ''
            }else {
                var next_url = blog_detail_url.replace(0, data['next_blog']['id']);
            }

            $('.nextinfo .last').html("上一篇：<a href='"+last_url+"'>"+last_blog_title+"</a>");
            $('.nextinfo .next').html("上一篇：<a href='"+next_url+"'>"+next_blog_title+"</a>");
        })
    }

</script>
{% endblock %}
