{% extends 'base.html' %}
{% load static %}

{% block nav %}
    <!--导航条-->
    <nav class="breadcrumb">
        <div class="container">
            <i class="Hui-iconfont">&#xe67f;</i><a href="/" class="c-primary">首页</a>
            <span class="c-gray en">&gt;</span> <a href="/article" class="c-primary">学无止尽</a>
            <span class="c-gray en">&gt;</span> <span class="c-gray"><i class="Hui-iconfont">&#xe64b;</i> {{ cate_name }}</span>
        </div>
    </nav>
{% endblock %}

{% block section_contain %}
    <section class="container">
        <!--left-->
        <div class="col-sm-9 col-md-9 mt-20">


            <!--article list-->
            <ul class="index_arc">
                {% for blog in blogs %}
                    <li class="index_arc_item {% if not blog.image %}no_pic{% endif %}">
                        {% if blog.image %}
                            <a href="{% url 'blog:blog_detail' blog.id %}" class="pic">
                                <img class="lazyload" data-original="{{ blog.image.url }}" alt="应该选"/>
                            </a>
                        {% endif %}
                        <h4 class="title"><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></h4>
                        <div class="date_hits">
                            <span>{{ blog.author.username }}</span>
                            <span>{{ blog.pub_time }}</span>
                            <span><a>{{ blog.category.name }}</a></span>
                            <p class="hits"><i class="Hui-iconfont" title="浏览量">&#xe6c1;</i> {{ blog.views }} </p>
                            <p class="commonts"><i class="Hui-iconfont" title="评论数">&#xe622;</i> <span
                                    class="cy_cmt_count">20</span></p>
                        </div>
                        <div class="desc">
                            {{ blog.body | truncatewords:'100' }}
                        </div>
                    </li>
                {% endfor %}

            </ul>
            <div class="text-c mb-20" id="moreBlog">
                <a class="btn  radius btn-block " href="javascript:;"
                   onclick="moreBlog('${blogType.id}','${tag.name}');">点击加载更多</a>
                <a class="btn  radius btn-block hidden" href="javascript:;">加载中……</a>
            </div>
        </div>

        <!--right-->
        <div class="col-sm-3 col-md-3 mt-20">

            <!--导航-->
            <div class="panel panel-primary mb-20">
                <div class="panel-body">
                    <input class="btn btn-primary radius nav-btn" type="button" value="杂谈">
                    <input class="btn btn-primary-outline radius nav-btn" type="button" value="java">
                    <input class="btn btn-primary-outline radius nav-btn" type="button" value="框架">
                    <input class="btn btn-primary-outline radius nav-btn" type="button" value="服务域名">
                </div>
            </div>

            <!--热门推荐-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>热门推荐</strong></a>
                </div>
                <div class="tab-category-item">
                    <ul class="index_recd">
                        <li>
                            <a href="#">阻止a标签href默认跳转事件</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">PHP面试题汇总</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">阻止a标签href默认跳转事件</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">阻止a标签href默认跳转事件</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                        <li>
                            <a href="#">PHP面试题汇总</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                        </li>
                    </ul>
                </div>
            </div>

            <!--标签-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>标签云</strong></a>
                </div>
                <div class="tab-category-item">
                    <div class="tags"><a href="http://www.h-ui.net/">H-ui前端框架</a> <a
                            href="http://www.h-ui.net/websafecolors.shtml">Web安全色</a> <a
                            href="http://www.h-ui.net/Hui-4.4-Unslider.shtml">jQuery轮播插件</a> <a
                            href="http://idc.likejianzhan.com/vhost/korea_hosting.php">韩国云虚拟主机</a> <a
                            href="http://www.h-ui.net/bug.shtml">IEbug</a> <a href="http://www.h-ui.net/site.shtml">IT网址导航</a>
                        <a href="http://www.h-ui.net/icon/index.shtml">网站常用小图标</a> <a
                                href="http://www.h-ui.net/tools/jsformat.shtml">web工具箱</a> <a
                                href="http://www.h-ui.net/bg/index.shtml">网站常用背景素材</a> <a
                                href="http://www.h-ui.net/yuedu/chm.shtml">H-ui阅读</a> <a
                                href="http://www.h-ui.net/easydialog-v2.0/index.html">弹出层插件</a> <a
                                href="http://www.h-ui.net/SuperSlide2.1/demo.html">SuperSlide插件</a> <a
                                href="http://www.h-ui.net/TouchSlide1.1/demo.html">TouchSlide</a></div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block bottom_js %}
    <script>
        $(function () {
//标签
            $(".tags a").each(function () {
                var x = 9;
                var y = 0;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                $(this).addClass("tags" + rand)
            });

            $("img.lazyload").lazyload({failurelimit: 3});
        });

    </script>
{% endblock %}