{% extends 'base/base.html' %}
{% load static %}


{% block other_css %}
  <style>
    #app {
      background-color: #408EBA;
    }

    .main {
      margin-top: 100px;
    }

    .main a:hover {
      color: #408EBA;
    }

    .main form .error {
      color: #ce2626;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="margin-top: 50px;">
          <div class="well bs-component">
            <form id="forgetForm" class="form-horizontal" role="form" method="POST"
                  action="{% url 'users:api:user-reset-pwd' %}">
              {% csrf_token %}
              <input id="token" name="token" value="{{ token }}" hidden autocomplete="off">
              <fieldset>
                <legend class="text-center">重置密码</legend>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-1">
                    <label for="password" class="control-label">密码</label>
                    <input id="password" type="password" class="form-control" name="password" placeholder="请输入密码"
                           autocomplete="off">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-1">
                    <label for="password2" class="control-label">确认密码</label>
                    <input id="password2" type="password" class="form-control" name="password2"
                           placeholder="请输入确认密码" autocomplete="off">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-1 error text-center">
                    <strong id="formError"></strong>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-1">
                    <button type="submit" class="btn btn-info form-control">
                      确认
                    </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block other_js %}
  <script type="text/javascript" src="{% static 'plugin/jquery.validation/1.14.0/jquery.validate.js' %}"></script>
  <script src="{% static 'plugin/jquery.validation/1.14.0/messages_zh.js' %}"></script>
  <script src="{% static 'plugin/jquery/jquery.form.js' %}"></script>
  <script>
    var send_eamil_pwd_url = "{% url 'users:send_confirm_email' 'pwd' %}";
  </script>
  <script>

    var active_msg = '{{ active_msg }}';

    function showActiveMsg(msg, callback) {
      if (msg) {
        swalError({title: msg}, callback)
      }
    }

    var options = {
      success: function (data) {
        swalSuccess({title: '重置成功'}, function () {
          window.location.href = data.redirect_url
        })
      },
      dataType: 'json',
      error: function (xhr, status, err) {
        showError(xhr.responseJSON, $("#formError"));
      }
    };
    $("#forgetForm").validate({
      rules: {
        password: {
          required: true,
          rangelength: [5, 30]
        },
        password2: {
          required: true,
          equalTo: '#password',
        },
      },
      messages: {
        password: {
          required: '请输入密码',
        },
        password2: {
          required: '请输入确认密码',
          equalTo: '两次密码不一致'
        },
      },
      submitHandler: function (form) {
        $("#formError").html('');
        $("#forgetForm").ajaxSubmit(options);
      }
    });

    $(function () {
      showActiveMsg(active_msg, function () {
        window.location.href = send_eamil_pwd_url;
      });
    })
  </script>
{% endblock %}